.footer {
    background: #585858;
    color: #f1f1f2;
    margin-top: 0;
    text-align: center;
    font-size: 12px;
    letter-spacing: normal;
    line-height: normal;
    text-transform: none;
    padding: 20px;
}