<app-nav id="app-nav"></app-nav>
<div class="contact">
  <div class="container" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxFlex="70">
      <mat-card class="card">
        <mat-card-content>

          <mat-accordion>

            <mat-expansion-panel [expanded]="true">

              <mat-expansion-panel-header>

                <mat-panel-title>
                  <i class="material-icons">contacts</i> &nbsp; Contact
                </mat-panel-title>

                <mat-panel-description>
                </mat-panel-description>

              </mat-expansion-panel-header>
              <div class="details">
                <b>Cass Fisher</b>
                <br> cass@mybalance.com.au
                <br> 0478 197 989
                <br> U15 (upstairs) Koombana Court, 141 Victoria Street, BUNBURY WA 6230
                <br>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>

              <mat-expansion-panel-header>

                <mat-panel-title>
                  <i class="material-icons">phone </i> &nbsp; Phone
                </mat-panel-title>

                <mat-panel-description>
                </mat-panel-description>

              </mat-expansion-panel-header>
              <div class="phone">
                <a href="tel:0478197989" class="fa fa-phone" target="_blank"></a>
              </div>

            </mat-expansion-panel>

            <mat-expansion-panel>

              <mat-expansion-panel-header>

                <mat-panel-title>
                  <i class="material-icons">message </i>&nbsp; Message
                </mat-panel-title>

                <mat-panel-description>
                </mat-panel-description>

              </mat-expansion-panel-header>

              <div class="message">
                <a href="https://m.me/mybalancewa" class="fa fa-facebook" target="_blank"></a>
                <a href="https://wa.me/61478197989" class="fa fa-whatsapp" target="_blank"></a>
                <a href="sms:+61478197989?body=Hi Cass, " class="fa fa-comments" target="_blank"></a>
              </div>

            </mat-expansion-panel>

            <mat-expansion-panel>

              <mat-expansion-panel-header>

                <mat-panel-title>
                  <i class="material-icons">supervisor_account </i>&nbsp; Follow
                </mat-panel-title>

                <mat-panel-description>
                </mat-panel-description>

              </mat-expansion-panel-header>

              <div class="follow">
                <a href="https://www.facebook.com/mybalancewa/" class="fa fa-facebook" target="_blank"></a>
                <a href="https://plus.google.com/u/0/collection/kyVbZ" class="fa fa-google" target="_blank"></a>
                <a href="https://www.instagram.com/mybalancearoma/" class="fa fa-instagram" target="_blank"></a>
              </div>

            </mat-expansion-panel>

            <mat-expansion-panel>

              <mat-expansion-panel-header>

                <mat-panel-title>
                  <i class="material-icons">email </i> &nbsp; Email
                </mat-panel-title>

                <mat-panel-description>
                </mat-panel-description>

              </mat-expansion-panel-header>

              <div class="form">
                <app-form></app-form>
              </div>

            </mat-expansion-panel>

            <mat-expansion-panel>

              <mat-expansion-panel-header>

                <mat-panel-title>
                  <i class="material-icons">navigation </i> &nbsp; Navigate
                </mat-panel-title>

                <mat-panel-description>
                </mat-panel-description>

              </mat-expansion-panel-header>
              <div class="navigate">
                <a href="https://www.google.com/maps/dir/?api=1&&destination=My+Balance+Aromatherapy+-+Health,+Massage,+Aromatherapy,+Victoria+Street,+Bunbury+WA"
                  class="fa fa-location-arrow" target="_blank"></a>
              </div>


            </mat-expansion-panel>


          </mat-accordion>

        </mat-card-content>
      </mat-card>
    </div>


  </div>
  <div class="spacer"></div>
  <app-footer></app-footer>
</div>