<section>
  <div class="booking">
    <br>
    <div class="booking-container">
      <div class="top-box">
        <h2>Opening Hours</h2>
        Monday: 10:00 am - 5:00 pm
        <br>
        Tuesday: 10:00 am - 5:00 pm
        <br>
        Wednesday: 10:00 am - 5:00 pm
        <br>
        Thursday: 10:00 am - 5:00 pm
        <br>
        Friday: 10:00 am - 5:00 pm
        <br>
        Saturday: 09:00 am - 2:00 pm
        <br>
      </div>
      <div class="bottom-box">
        <div class="button-row">
          <button class="buttons" mat-raised-button color="accent" routerLink="/book/reserve">Book Online Now!</button>
        </div>
        <div class="button-row">
          <button class="buttons" mat-raised-button color="accent" routerLink="/book/login">Customer Login</button>
        </div>
        <div class="button-row">
          <button class="buttons" mat-raised-button color="accent" routerLink="/contact">Contact</button>
        </div>
      </div>
    </div>
    <br>
  </div>
</section>