<div class="container">
  <nav>
    <mat-sidenav-container class="sidenav-container">

      <!--Main Drawer Menu-->
      <mat-sidenav #drawer class="sidenav" fixedInViewport="true" position="end">
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item (click)="drawer.toggle()" routerLink="/home">Home</a>
          <a mat-list-item (click)="drawer.toggle()" routerLink="/book">Book</a>
          <a mat-list-item (click)="drawer.toggle()" routerLink="/posts">News</a>
          <a mat-list-item (click)="drawer.toggle()" routerLink="/contact">Contact</a>
          <a mat-list-item (click)="drawer.toggle()" routerLink="/about">About</a>
          <!-- Drawer items if logged in-->
          <div *ngIf="auth.afAuth.authState | async as user; else showDrawerLogin">
            <a mat-list-item (click)="drawer.toggle()" routerLink="/user/dashboard">Dashboard</a>
            <a mat-list-item (click)="drawer.toggle() && auth.logout()" routerLink="/user/login">Logout</a>
          </div>
          <!-- Drawer items if logged out-->
          <ng-template #showDrawerLogin>
            <a mat-list-item (click)="drawer.toggle()" routerLink="/user/login">Login</a>
          </ng-template>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <!--Toolbar (All pages except landing '/')-->
        <mat-toolbar color="primary" *ngIf="router.url !== '/'">
          <mat-toolbar-row>
            <!--Left loobar icon link home-->
            <img class="icon" routerLink="/home" src="../../../assets/img/icon.png">

            <!--Spacer to make items go to right-->
            <span class="spacer"></span>

            <!--Menu drawer icon if device is handset-->
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <!--Links if desktop-->
            <div class="items" [hidden]="isHandset$ | async">
              <span routerLink="/book">Book</span>
              <span routerLink="/posts">News</span>
              <span routerLink="/contact">Contact</span>
              <span routerLink="/about">About</span>

              <!--Logged In Menu Button-->
              <span *ngIf="auth.afAuth.authState | async as user; else showLoginBar" [matMenuTriggerFor]="menu">
                <img class="userImage" src="{{user.photoURL}}" alt="User">
              </span>

              <!--Logged In Menu-->
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="auth.logout()" routerLink="/user/login">
                  Logout
                </button>
                <button mat-menu-item routerLink="/posts/dashboard">
                  Write a Post
                </button>
              </mat-menu>

              <!--Log In Link-->
              <ng-template #showLoginBar>
                <span class="fa fa-facebook" (click)="navigate('https://www.facebook.com/mybalancewa/')"></span>
                <span class="fa fa-instagram" (click)="navigate('https://www.instagram.com/mybalancearoma/')"></span>
                <span class="fa fa-user" routerLink="/user/login" alt="Log In"></span>
              </ng-template>

            </div>


          </mat-toolbar-row>
        </mat-toolbar>

        <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>
        <div class="middle">
          <ng-content></ng-content>
        </div>
        <app-footer *ngIf="router.url !== '/' && router.url !== '/home'"></app-footer>

      </mat-sidenav-content>
    </mat-sidenav-container>
  </nav>
</div>