<section>
  <div class="dashboard">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Create a Post
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
          <button mat-raised-button color="accent" (click)="fileInput.click()">Upload</button>
          <input hidden type="file" name="file" id="file" (change)="uploadImage($event)" #fileInput>
          <div [hidden]="!uploadPercent">
            <br>
            <mat-progress-bar mode="determinate" value="{{uploadPercent | async}}"></mat-progress-bar>
          </div>
          <div [hidden]="!image">
            <br>
            <img [src]="image || '//:0'">
          </div>
        </div>
        <br>
        <mat-form-field>
          <input matInput placeholder="Post Title" [(ngModel)]="title">
        </mat-form-field>
        <br>

        <angular-editor [(ngModel)]="content" [config]="config"></angular-editor>

        <br>
        <button mat-raised-button color="accent" (click)="createPost()" [disabled]="!title || !content || !image">{{buttonText}}</button>
        <button mat-button (click)="changeRoute('posts')">Cancel</button>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>