<section>
  <div class="detail">
    <div class="postCard">
      <ng-container *ngIf="post">

        <!-- Edit Mode -->
        <div [hidden]="!editing">
          <mat-card>
            <h2>Update Post</h2>

            <mat-form-field>
              <input matInput placeholder="Post Title" [(ngModel)]="post.title">
            </mat-form-field>
            <br>
            <angular-editor [(ngModel)]="post.content" [config]="config"></angular-editor>
            <br>
            <button mat-raised-button color="accent" (click)="updatePost()">Save</button>
            <button mat-button (click)="editing=false">Cancel</button>
          </mat-card>
        </div>

        <!-- View Mode -->
        <div [hidden]="editing">
          <mat-card>
            <img src="{{post.image}}" alt="{{post.title}}">
            <p>Posted by {{post.author}} &bull; {{post.published.seconds * 1000 | date: 'fullDate'}}</p>
            <mat-card-content>
              <h2>{{post.title}}</h2>
              <div [innerHTML]="post.content"></div>
            </mat-card-content>
            <mat-card-actions align="end" *ngIf="auth.currentUserId === post.authorId">
              <button mat-icon-button (click)="editing=true">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="delete()">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>

        </div>
      </ng-container>
    </div>
  </div>
</section>