<div class="parallax">
  <div id="group1" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="group1__wrapper">
        <div class="group1__content">
          <div class="group1__text">
            Rest Relax Renew
            <br>With an Aromatherapy Massage
          </div>
          <button mat-raised-button color="accent" routerLink="/book">
            <mat-icon>thumb_up</mat-icon> &nbsp; Yes, book me in!
          </button>
        </div>
      </div>
      <div class="group1__footer">
        <span class="group1__footer__content">
          <button mat-button class="group1__footer__button" (click)="navigate('tel:0478197989')">
            <i class="fa fa-mobile">&nbsp; Phone</i>
          </button>
        </span>
        <span class="group1__footer__middle">
          <div class="arrow bounce" (click)="scrollTo('group2__wrapper')">
            <a class="fa fa-arrow-down fa-2x"></a>
          </div>
        </span>
        <span class="group1__footer__content">
          <button mat-button class="group1__footer__button" routerLink="/contact">
            <i class="fa fa-comments">&nbsp; Contact</i>
          </button>
        </span>
      </div>
    </div>
  </div>

  <div id="group2" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <span class="group2__arrow__up">
        <div class="arrow bounce_up" (click)="scrollTo('group1__wrapper')">
          <a class="fa fa-arrow-up fa-2x"></a>
        </div>
      </span>
    </div>
    <div class="parallax__layer parallax__layer--back">
      <div class="group2__wrapper">
        <div layout-fill layout="column" layout-align="center none">
          <div layout="row" layout-align="center none">
            <mat-card class="group2__card">
              <mat-card-content class="group2__card__content">
                <h1>You know that post massage feeling......</h1>
                Your body is relaxed, pain has eased, your mind is clear.
                <br>Through massage or a creation of your own blend of essential oils to take home, My Balance Aromatherapy
                will treat the whole person as well as the presenting ailment or condition. Creating a deeply healing, tranquil
                experience, restoring complete balance to all your overworked body systems.
                <br>
                <br>
                <h1>Visit us today in the heart of Bunbury</h1>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="group3" class="parallax__group">
    <div class="parallax__layer parallax__layer--fore">
      <div class="group3__wrapper">

        <div class="slider">
          <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav" />
          <input type="radio" name="slider" title="slide2" class="slider__nav" />
          <input type="radio" name="slider" title="slide3" class="slider__nav" />
          <input type="radio" name="slider" title="slide4" class="slider__nav" />
          <div class="slider__inner">
            <div class="slider__contents" *ngFor="let post of posts | async | slice:0:4">
              <mat-card class="slider__card" routerLink="/posts/{{post.id}}">
                <mat-card-content class="slider__card__content">
                  <img class="slider__image" src="{{post.image}}" alt="{{post.title}}">
                  <h2 class="slider__caption">{{post.title}}</h2>
                  <p class="slider__txt">Read more...</p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title">
        <!-- Background 3 -->
      </div>
    </div>
  </div>

  <div id="group4" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="group4__top">
        <div class="group4__right__box">
          <h1>RENEW</h1>
        </div>
      </div>
    </div>
    <div class="parallax__layer parallax__layer--back">
      <div class="group4__middle">
        <div class="group4__middle__box">
          <h1>RELAX</h1>
        </div>
      </div>
    </div>
    <div class="parallax__layer parallax__layer--deep">
      <div class="group4__bottom">
        <div class="group4__left__box">
          <h1>REST</h1>
        </div>
      </div>
    </div>
  </div>

  <div id="group5" class="parallax__group">
    <div class="parallax__layer parallax__layer--fore">
      <div class="title">Foreground Layer</div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
  </div>

  <div id="group6" class="parallax__group">
    <div class="parallax__layer parallax__layer--back">
      <div class="title">
        <!-- Background 5 -->
      </div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
  </div>

  <div id="group7" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <section class="section section-dark">
        <p>
          Diploma in Clinical Aromatherapy
          <br>Certificate IV in Aromatherapy
        </p>
        <h2>Services</h2>
        Full Body Massage
        <br>Personal blends and recipes
        <br>Essential oils
        <br>Aromatherapy products
      </section>
    </div>
  </div>

</div>