<app-nav></app-nav>
<div class="profile">
  <div class="blurb">
    <div class="text">
      <h3>Passionate Aromatherapist</h3>
      <p>
        I love Aromatherapy and I love massage. Perfect!! Massage and aromatherapy are two very powerful healers, that will compliment
        any other treatment you are receiving.
      </p>
    </div>
    <div class="spacer"></div>
    <div class="text">
      <p>
        Aromatherapy is becoming the most increasing popular treatment of our age, due to our awareness and desire to eliminate chemicals,
        toxins and pharmaceuticals from our lives. This has us seeking alternatives.
      </p>
    </div>
    <div class="spacer"></div>
    <div class="text">
      <p>
        Essential oils active and highly concentrated secondary metabolites of plants. These unique constituents are used for defense
        and survival. Much like our hormone and immune responses. These constituents are medicines, bringing balance back
        to our minds, body and spirit.
      </p>
    </div>
    <div class="spacer"></div>
    <div class="text">
      <p>
        Now more than ever in Australia essential oils are becoming more readily available. They are being seen everywhere in so
        many applications. It is my desire and passion to help you to use them effectively in your life.
      </p>
    </div>
    <div class="spacer"></div>
    <div class="text">
      <p>
        The art and science of a clinical aromatherapist is in the selection and blending of a perfect healing synergy of essential
        oils. We consider safety guidelines and you as an individual.
      </p>
    </div>
    <div class="spacer"></div>
    <div class="text">
      <p>
        As a Clinical Aromatherapist I want share my knowledge, search and source quality essential oils, from small sustainable
        farms in Australia and the world.
      </p>
    </div>
    <div class="spacer"></div>
    <div class="text">
      <p>
        Come and visit the store, or contact me where I am able to create a unique blend for you to take home, or incorporate with
        a beautiful aromatherapy massage.
      </p>
    </div>
    <div class="spacer"></div>
    <div class="text">
      <div class="sign">
        <h1>Cass</h1>
        <p>Diploma in Clinical Aromatherapy</p>
        <p>Cert IV in Aromatherapy</p>
        <p>Member of IAAMA - International Aromatherapy and Medicine Association</p>
        <p>Aromatherapy Practitioner - for Regis Aged Care</p>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>