@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700");
@import url("https://fonts.googleapis.com/css?family=Merienda");
@import url("https://fonts.googleapis.com/css?family=Meie+Script");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("src/assets/css/scrollbar.css");


body, html {
    height: 90%;
    width: 100%;
    margin: 0%;
    padding: 0px;
    font-size: 16px;
    font-family: 'Merienda', cursive;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    box-sizing: border-box;
}
