// Preview of the tutorial by Patryk Zabielski
// www.dribbble.com/zabielski | www.patrykzabielski.com
// Tutorial: https://medium.com/@PatrykZabielski/how-to-make-multi-layered-parallax-illustration-with-css-javascript-2b56883c3f27

$background: #f1f1f2;
$text: #58585b;
$heroHeight: 800px;

body {
	padding: 0;
	margin: 0;
	background-color: $background;
}

#hero {
	height: $heroHeight;
	overflow: hidden;
    position: relative;
    margin-bottom: -500px;
}

#content {
    background-color: $background;
    padding: 0px;
    margin-top: -96px;
}

.layer {
	background-position: bottom center;
	background-size: auto;
	background-repeat: no-repeat;
	width: 100%;
	height: $heroHeight;
	position: fixed;
	z-index: -1;
}

#hero-mobile {
	display: none;
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png") no-repeat center bottom / cover;
	height: 320px;
}

.first-section {
	padding: 50px 0 20px 0;
}

.text-header {
	font-size: 50px;
	text-align: center;
}

.intro {
    text-align: center;
    padding: 80px 10%;
    background-color: #f1f1f2;
    color: #585858;
    text-align: justify;
}

h1 {
	line-height: 120%;
	margin-bottom: 30px;
}
p {
	font-size: 18px;
	line-height: 150%;
}

#hero, .layer {
	min-height: 800px;
}

.layer-bg {
    background-image: url('../../assets/img/ilu_bg.jpeg');
    background-position: center bottom;
    background-size: cover;
}
.layer-1 {
    background-image: url('../../assets/img/logo.png');
    background-position: center 20%;
    background-size: 50vw auto;
		}
.layer-2 {
    background-image: url('../../assets/img/oils.png');
    background-position: right bottom;
    background-size: 30vw auto;
}
/*
.layer-3 {
	background-image: url('../../assets/img/candles_long.png');
        background-position: left bottom;
        background-size: 10vw auto;
        }
*/

.layer-3 {
    width: 160px;
}

.layer-4 {
    background-image: url('../../assets/img/layer-4.png');
    background-position: center bottom;
    background-size: 100vw auto;
        }

.layer-5 {
    background-image: url('../../assets/img/over.png');
    background-position: center bottom;
    background-size: 100vw auto;
        }
        
.layer-overlay {
    background-image: url('../../assets/img/butterflies.png');
    background-position: top center;
    background-size: 100vw auto;
		}


/* Media Queries
@media only screen and (max-width: 768px) {
	#hero {
		display: none;
	}
	#hero-mobile {
		display: block;
	}
}

*/

@media only screen and (max-width: 600px) {
    .layer-1 {
        background-size: 90vw auto;
    }

    .layer-2 {
        background-size: 50vw auto;
    }

    .layer-3 {
        background-size: 30vw auto;
    }
    
    .layer-4 {
        background-size: 100vw 80vh;
    }
}



// Additional
.tutorial-link {
	color: $text;
	font-size: 18px;
	text-decoration: underline;
	&:hover {
		color: #ede0d5;
	}
}



.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.pimg1 {
    background-image: url(../../assets/img/pimg1.jpg);
    height: 100vh;
}


.pimg2 {
    background-image: url(../../assets/img/pimg2.jpg);
    height: 400px;
}

.pimg3 {
    background-image: url(../../assets/img/pimg3.jpg);
    height: 400px;
}

.section {
    text-align: center;
    padding: 30px 10%;
}

.section-light {
    background-color: #f1f1f2;
    color: #585858;
    text-align: justify;
}


.section-dark {
    background-color: #53445c;
    color: #ddd;
}


.heading{
    top: 30vh;
    position: absolute;
    text-align: center;
    width: 100%;
    background: #f1f1f2;
  }

.heading img {
    margin-top: 10px;
    width: 90%;
    max-width: 621px;
}



.container {
    margin: -6px;
 }
 .container > * {
   margin: 6px;
 }



.ptext {
    margin: 0, 10px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    line-height: 40px;
}


.ptext .border {
    background-color: #8451a0;
    color: #fff;
    padding: 10px;
    overflow-x: hidden;
}

.material-icons {
    font-size: inherit;
    line-height: inherit;
    vertical-align: bottom;
  }

.contact {
    background-color: #8451a0;
    color: #fff;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 27px;
}




.btn-2 {
    background-color :hover #fff;
    cursor: pointer;
    letter-spacing: 0;
}


.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 90%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 90%;
}

.btn-2 a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


@media(max-width: 568px) {
    .ptext1, .ptext {
        font-size: 18px;
        line-height: 30px;
    }
}

@media(max-width: 410px) {
    .ptext1, .ptext{
        font-size: 12px;
        line-height: 20px;
    }
}