
<div class="pimg1">
  <div class="heading">
    <img src="../../assets/img/head.png">
  </div>
</div>
<app-nav></app-nav>
<section class="section section-light">
  <div fxLayout="wrap row" fxLayout.xs="column" fxLayoutAlign="space-around center">
    <div class="item item-1" fxFlex="60">
      <h2>You know that post massage feeling......</h2>
      Your body is relaxed, pain has eased, your mind is clear.
      <br> Through massage or a creation of your own blend of essential oils to take home, My Balance Aromatherapy will treat
      the whole person as well as the presenting ailment or condition. Creating a deeply healing, tranquil experience, restoring
      complete balance to all your overworked body systems.
      <h2>Visit us today in the heart of Bunbury</h2>
    </div>
  </div>
</section>
<div class="contact">
  <div fxLayout="wrap row" fxLayout.xs="column" fxLayoutAlign="center center">
    <div class="item item-1" fxFlex="30">
      <div class="btn-2">
        <a href="tel:0478197989">Contact us now</a>
      </div>
    </div>
    <div class="item item-2" fxFlex="30">
      <div class="btn-2">
        <i class="material-icons">smartphone</i>
        <a href="tel:0478197989">0478 197 989</a>
      </div>
    </div>
  </div>
</div>
<div class="pimg2">
  <div class="ptext">
    <div fxLayout="wrap row" fxLayoutAlign="center center">
      <div class="item item-1" fxFlex="60">
        <div class="border">
          Massage for a life more lived
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section section-light">
  <div fxLayout="wrap row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
    <div class="item item-1" fxFlex="40">
      <h2>Work Hard, Play Hard</h2>
      <p>
        Australians regularly feature on the list for the longest working weeks in the world. Lets face it we work hard and play
        hard. "hard yakka" is our mantra. Regular massage will help your body keep up with
      </p>
    </div>
    <div class="item item-2" fxFlex="40">
      <h2>Less Stress, Live Longer</h2>
      <p>
        Stress is the tension we are feeling in our shoulders and neck, radiating into a pulsating headache. Regular massage will
        work out this tension helping you let go of chronic pain and beat burn out.
      </p>
    </div>
    <div class="item item-3" fxFlex="40">
      <h2>Better Posture, More Confidence</h2>
      <p>
        Bad habits lead to bad posture, leads to pain. Regular massage loosens muscles and joints allowing freedom to enable our
        bodies towards correct movement.
      </p>
    </div>
    <div class="item item-4" fxFlex="40">
      <h2>Rest, Relax, Heal</h2>
      <p>
        Muscle tension constricts circlulation. Aromatherapy massage will increase blood flow and encourage lymphatic drainage to
        flush out toxins from your body. The aromas work instantly our our nerves to calm and relax.
      </p>
    </div>
  </div>
  <h2 style="text-align: center">
    This is serious
  </h2>
</section>
<div class="pimg3">
  <div class="ptext">
    <div fxLayout="wrap row" fxLayout.xs="column" fxLayoutAlign="center center">
      <div class="item item-1" fxFlex="40">
        <div class="border">
          <div class="btn-2">
            <a [routerLink]="['/about-cass']">Meet Cass</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section section-dark">
  <p>
    Diploma in Clinical Aromatherapy
    <br>Certificate IV in Aromatherapy
  </p>
  <h2>Services</h2>
  Full Body Massage
  <br>Personal blends and recipes
  <br>Essential oils
  <br>Aromatherapy products
</section>

<app-footer></app-footer>